@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body{
    background-color:rgb(214, 246, 249);
    font-size: 20px;
    /*comment*/
    margin: px;
    text-align: center;
    font-family: "Playfair Display", serif;

}

.header{
    padding-bottom: 20px;
    text-align: center;
    font-size: 50px;
    font-family: "Playfair Display", serif;
}

h1{
    text-align: center;
    font-size: px;
}

.space{
    padding-top: 40px;
}

button, select{
    margin: 1vh;
    background-color: white;
    border: none;
    /* makes border round */
    border-radius: 1vw;
    cursor: pointer;
    /* creates shadow */
    padding: 1vw;
}

/*not used yet:  */


/* if a class, use dot */
.grayrow{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(245, 240, 211);
    padding: 30px;
    padding-bottom: 10px;
    font-size: 20px;
    margin: 0px;
}

.grayexplanation{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(245, 240, 211);
    padding: 30px;
    padding-bottom: 10px;
    font-size: 20px;
    margin: 0px;
}


.coursetile{

    background-color: rgb(143, 182, 157);
    color: white;
    text-align: left;
    margin: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
    border-radius: 10px;
    width: 40vw;
    height: 20vh;
    /* transition: all .2s ease-in-out; */
}

#picture{
   background-image: url("/Screenshot 2024-11-19 at 11.26.39 AM.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center
}

#picture2{
    background-image: url("/IMG_1499.JPG");
     background-size: contain;
     background-repeat: no-repeat;
     background-position: center
 }